@{
    ViewData["Title"] = "Home Page";
    var movies = ViewData["Movies"] as List<Movie>;
    var reviews = ViewData["Reviews"] as List<Review>;
    var imagearray = ViewData["ImageArray"] as string[];

}

<div class="text-center">
    <h1 class="display-4">welcome to movie review app!</h1>
</div>


<style>
    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        margin: 2px;
        padding: 2px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #f0f0f0;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .card-image {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
</style>
<div class="row">
    @{
        int i =0;
        }
@foreach (var movie in movies)
{
        <div class="col">
                <div class="card">
                    <div class="card-body">
                    <img src="@Url.Content($"~/lib/{imagearray[i]}.jpg")" alt="Card Image" class="card-image" style="width: 500px; height: 350px;" />
                    <div class ="text-center">
                    <a href="@Url.Action("Index", "Reviews", new {title = imagearray[i] } )" class="btn btn-primary">Reviews</a>
                    </div>
                    </div>
                </div>
            </div>
      
        i++;
}

</div>

